
#container{
    width: 80%;
    margin:0 auto;
}


#container div.center:after{
    clear: both;
    display: table;
    content: " ";
}

header{
    background: yellow;
}

nav{
    background: lightblue;
    float: left;
    width: 15%;
}

#content{
    background: lawngreen;
    float: left;
    width: 70%;
}

aside{
    background: cadetblue;
    float: left;
    width: 15%;
}

footer{
    background: yellow;
}