nav{

    display: inline-block;
    background: grey;
    color: white;
    width: 100%;

}

ul.level-1 {
    list-style-type: none;
    margin: 0;
    padding: 0;

}

ul.level-1 > li {
    display: block;
    float: left;
    width: 100px;
    background: red;
    width: 100px;

}

ul.level-2 > li{
    display: none;
    width: 100px;
    background: yellow;
}

ul.level-1 > li:hover > ul.level-2 > li{
    display: block;
}